.gradle
/local.properties
.idea
.DS_Store
/build
/captures
*.iml
.svn/
/app/*-release*.apk
/app/release/*.apk
/app/release/*.aab
/app/release/*.json
/app/*-debug*.apk
app/app.iml
app/mapping.txt
app/manifest-merger-release-report.txt
*/build/
*/library/build/
secret.xml
.project
.classpath
.externalNativeBuild/
*.db
/*.png
/*.log
/*.jpg
/log
EncodeUtils/src/main/java/com/example/BuildConfig.java  
/screen_shot.jpg
*/.cxx/
keystore.jks
keystore.properties
distribute-app.json
/doc
/app/google-services.json
